<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/vendas?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
    
        <property name="hibernate.hbm2ddl.auto">validate</property>
     
        <mapping class="br.com.jpbonfa.vendas.model.Cidade"/>
        <mapping class="br.com.jpbonfa.vendas.model.Cliente"/>
        <mapping class="br.com.jpbonfa.vendas.model.Compra"/>
        <mapping class="br.com.jpbonfa.vendas.model.ContasPagar"/>
        <mapping class="br.com.jpbonfa.vendas.model.ContasReceber"/>
        <mapping class="br.com.jpbonfa.vendas.model.Contato"/>
        <mapping class="br.com.jpbonfa.vendas.model.Endereco"/>
        <mapping class="br.com.jpbonfa.vendas.model.Estado"/>
        <mapping class="br.com.jpbonfa.vendas.model.Estoque"/>
        <mapping class="br.com.jpbonfa.vendas.model.Fornecedor"/>
        <mapping class="br.com.jpbonfa.vendas.model.Funcionario"/>
        <mapping class="br.com.jpbonfa.vendas.model.ItemCompra"/>
        <mapping class="br.com.jpbonfa.vendas.model.ItemVenda"/>
        <mapping class="br.com.jpbonfa.vendas.model.LogUsuario"/>
        <mapping class="br.com.jpbonfa.vendas.model.PessoaFisica"/>
        <mapping class="br.com.jpbonfa.vendas.model.PessoaJuridica"/>
        <mapping class="br.com.jpbonfa.vendas.model.Produto"/>
        <mapping class="br.com.jpbonfa.vendas.model.Venda"/>
    </session-factory>
</hibernate-configuration>
